name: build-coreutils-msvc

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
      - run: cargo build --release -p uu_arch -p uu_basename -p uu_cat -p uu_cp -p uu_dir -p uu_dircolors -p uu_dirname -p uu_du -p uu_df -p uu_ln -p uu_ls -p uu_mkdir -p uu_mv -p uu_paste -p uu_pwd -p uu_readlink -p uu_rm -p uu_rmdir -p uu_shred -p uu_sync -p uu_touch -p uu_truncate -p uu_vdir -p uu_base32 -p uu_base64 -p uu_basenc -p uu_comm -p uu_csplit -p uu_cut -p uu_expand -p uu_fmt -p uu_fold -p uu_head -p uu_join -p uu_nl -p uu_numfmt -p uu_pr -p uu_ptx -p uu_shuf -p uu_sort -p uu_split -p uu_sum -p uu_tac -p uu_tail -p uu_tee -p uu_tr -p uu_tsort -p uu_unexpand -p uu_uniq -p uu_wc -p uu_date -p uu_env -p uu_expr -p uu_factor -p uu_false -p uu_hostname -p uu_link -p uu_nproc -p uu_printenv -p uu_printf -p uu_seq -p uu_sleep -p uu_test -p uu_true -p uu_whoami -p uu_yes -p uu_cksum -p uu_dd -p uu_hashsum -p uu_mktemp -p uu_more -p uu_od -p uu_realpath -p uu_uname -p uu_unlink
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coreutils-msvc
          path: target/x86_64-pc-windows-msvc/release/
